<div class="container">
	<div class="page-header">
	  <h1>Hasbro Albaranes</h1>
	</div>

	<div class="panel panel-default form-horizontal" >
		<div class="panel-heading">
			<h3 class="panel-title">Albarán {{deliveryNote['albaran']}} del {{deliveryNote['anyo']}}</h3>
		</div>
		<div class="panel-body">
		<p>
			<back-btn back="Volver" icon="glyphicon-arrow-left"></back-btn>
		</p>
		<div>
				<form  id="deliveryNoteFrm" name="deliveryNoteFrm" class="form-horizontal" action="" method="post">
					<div class="col-lg-12">
			    <div class="well bs-component">
						<fieldset>
						<div class="col-lg-6">
                 <div class="form-group">
									 <label for="albaran" class="col-lg-3 control-label">Albarán</label>
                   <div class="col-lg-8">
                      <input type="text" class="form-control" ng-model="deliveryNote['albaran']">
                   </div>
								</div>
								<div class="form-group">
									<label for="anyo" class="col-lg-3 control-label">Año</label>
									<div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['anyo']">
									</div>
							 </div>
							 <div class="form-group">
								 <label for="cliente" class="col-lg-3 control-label">Cliente</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['cliente']">
								 </div>
							</div>
							<div class="form-group">
								<label for="direccion" class="col-lg-3 control-label">Dirección</label>
								<div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['direccion']">
								</div>
							</div>
							<div class="form-group">
								<label for="cp" class="col-lg-3 control-label">CP</label>
								<div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['cp']">
								</div>
							</div>
							<div class="form-group">
								<label for="poblacion" class="col-lg-3 control-label">Población</label>
								<div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['poblacion']">
								</div>
							</div>
							<div class="form-group">
								<label for="provincia" class="col-lg-3 control-label">Provincia</label>
								<div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['provincia']">
								</div>
							</div>
							<div class="form-group">
								<label for="agencia" class="col-lg-3 control-label">Agencia</label>
								<div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['agencia']">
								</div>
							</div>
							<div class="form-group">
								<label for="departamento" class="col-lg-3 control-label">Departamento</label>
								<div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['departamento']">
								</div>
							</div>
							<div class="form-group">
								<label for="observaciones" class="col-lg-3 control-label">Observaciones</label>
								<div class="col-lg-8">
										 <textarea class="form-control" ng-model="deliveryNote['observaciones']"></textarea>
								</div>
							</div>
            </div>
						<div class="col-lg-6">
							 <div class="form-group">
								 <label for="fechaalbaran" class="col-lg-3 control-label">Fecha Albarán</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['fechaalbaran']" dateformat>
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="fechasalida" class="col-lg-3 control-label">Fecha Salida</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['fechasalida']" dateformat>
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="bultos" class="col-lg-3 control-label">Bultos</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['bultos']">
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="pallets" class="col-lg-3 control-label">Pallets</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['pallets']">
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="aatencion" class="col-lg-3 control-label">A/Atencion</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['aatencion']">
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="responsable" class="col-lg-3 control-label">Responsable</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['responsable']">
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="numpedido" class="col-lg-3 control-label">Núm. Pedido</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['numpedido']">
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="mercancia" class="col-lg-3 control-label">Mercancia</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['mercancia']">
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="estado" class="col-lg-3 control-label">Estado</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['estado']">
								 </div>
							 </div>
							 <div class="form-group">
								 <label for="fecharecepcion" class="col-lg-3 control-label">Fecha Recepcion</label>
								 <div class="col-lg-8">
										 <input type="text" class="form-control" ng-model="deliveryNote['fecharecepcion']" dateformat>
								 </div>
							 </div>
						</div>
						<div class="text-right">
							<button type="submit" form="deliveryNoteFrm" class="btn button btn-default" ng-class="{'btn-success': !deliveryNoteFrm.$pristine }" ng-disabled="deliveryNoteFrm.$pristine" ng-click="updateDeliveryNote(deliveryNote)"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
						</div>
					  </fieldset>
					</div>
					</div>
				</form>
		</div>
		<p>
			<button class="btn button btn-default" ng-click="newArticle()"><span class="glyphicon glyphicon-plus"></span> Nuevo Artículo</button>
		</p>
		<div ng-show="keylist.length">
			<table class="table table-condensed table-bordered table-striped">
	      <thead>
	          <tr>
	           <th width="150px">Cód. Artículo</th>
	           <th width="20px">Cantidad</th>
	           <th width="120px">Código</th>
						 <th width="20px">Cajas</th>
						 <th width="550px">Descripción</th>
						 <th>Acciones</th>
	          </tr>
	      </thead>
				<tbody>
						<tr ng-repeat="key in keylist" ng-form name="articlesFrm">
							<td><input type="text" class="form-control" ng-model="deliveryNoteArticles[key]['codarticulo']"></td>
							<td><input type="text" class="form-control" ng-model="deliveryNoteArticles[key]['cantidad']"></td>
							<td><input type="text" class="form-control" ng-model="deliveryNoteArticles[key]['codigo']"></td>
							<td><input type="text" class="form-control" ng-model="deliveryNoteArticles[key]['cajas']"></td>
							<td><input type="text" class="form-control" ng-model="deliveryNoteArticles[key]['descripcion']"></td>
							<td class="table-buttons">
								<button class="btn button btn-default btn-xs" ng-class="{'btn-success': !articlesFrm.$pristine }" ng-disabled="articlesFrm.$pristine" ng-click="saveArticle(deliveryNoteArticles[key]);myForm.$setPristine(true)" ><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
								&nbsp;&nbsp;
								<button class="btn button btn-default btn-xs" ng-click="deleteArticle(deliveryNoteArticles[key])"><span class="glyphicon glyphicon-trash"></span> Borrar</button>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
